/* stylelint-disable max-nesting-depth */
/* stylelint-disable at-rule-no-unknown */
// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.field-checkbox {
  $block-name: &; // #{$block-name}__element

  display: block;

  &__title {
    @include field-name;
  }

  &__input-wrap {
    font-weight: 400;

    &--bold {
      font-weight: 600;
    }

    & + & {
      margin-top: $typo-margin-vertical;
    }
  }

  &__name {
    display: inline-flex;
    gap: 0 16px;
    align-items: center;
    margin: 4px;
    cursor: pointer;

    &::selection {
      background: $selection-bg;
      color: $text-color;
      text-shadow: none;
    }
  }

  &__name-text {
    color: $text-primary;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: inherit;
    line-height: 24px;
  }

  &__input {
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin: 0;
    color: #000000;
    appearance: none;
    cursor: pointer;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $border-color;
    border-radius: 0;
    transition: background $transition-time cubic-bezier(0.1, 0.1, 0.25, 1);

    &.just-validate-error-field {
      border-color: $color-danger;
    }

    &:hover {
      background-color: $border-color;
      border-color: $border-color;
    }

    &:checked {
      border-color: $color-brand;
      background-image: url("../images/checkbox.svg");
    }
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
