// В этом файле должны быть стили для БЭМ-блока loader, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.loader {
  display: inline-block;

  &::before {
    display: block;
    width: 64px;
    height: 64px;
    content: "";
    border: 8px solid $text-secondary;
    border-top: 8px solid $color-accent;
    border-radius: 50%;
    animation: loader-rotate 1s linear infinite;
  }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
