- 
    const exportPercoProducts =
        [
            {
                "title": "Турникеты",
                "children": [
                    {
                        "title": "Турникеты-триподы",
                        "checked": true
                    },
                    {
                        "title": "Тумбовые турникеты",
                        "checked": true
                    },
                    {
                        "title": "Скоростные проходы",
                        "checked": true
                    },
                    {
                        "title": "Полуростовые роторные турникеты",
                        "checked": true
                    }
                ]
            },
            {
                "title": "Электронные проходные",
                "checked": false
            },
            {
                "title": "Шлагбаумы",
                "children": [
                    {
                        "title": "Дополнительное оборудование для шлагбаумов",
                        "checked": true
                    }
                ]
            },
            {
                "title": "Комплекты ПО",
                "checked": false
            },
            {
                "title": "Электромеханические замки",
                "checked": true
            },
            {
                "title": "Контроллеры и считыватели",
                "children": [
                    {
                        "title": "Биометрические контроллеры и считыватели",
                        "checked": true
                    },
                    {
                        "title": "Контроллеры",
                        "checked": true
                    },
                    {
                        "title": "Считыватели",
                        "checked": true
                    }
                ]
            },
            {
                "title": "Система контроля доступа PERCO-Web",
                "children": [
                    {
                        "title": "ПО системы контроля доступа PERCO-Web",
                        "checked": true
                    },
                    {
                        "title": "Возможности ПО системы контроля доступа PERCO-Web",
                        "checked": true
                    }
                ]
            },
            {
                "title": "Система учета рабочего времени",
                "checked": false
            },
            {
                "title": "Система безопасности PERCO-S-20 Школа",
                "children": [
                    {
                        "title": "ПО системы безопасности для школ PERCO-S-20 Школа",
                        "checked": true
                    }
                ]
            },
            {
                "title": "Турникеты платного доступа",
                "checked": false
            },
            {
                "title": "Мобильные приложения",
                "checked": false
            },
            {
                "title": "Поля",
                "children": [
                    {
                        "title": "Анонс",
                        "checked": true
                    },
                    {
                        "title": "Описание, особенности",
                        "checked": true
                    },
                    {
                        "title": "Стоимость",
                        "checked": true
                    },
                    {
                        "title": "Характеристики",
                        "checked": true
                    },
                    {
                        "title": "Фото",
                        "checked": true
                    },
                    {
                        "title": "Чертеж",
                        "checked": true
                    },
                    {
                        "title": "Документы",
                        "checked": true
                    },
                    {
                        "title": "Нужен xls файл для Microsoft Excel",
                        "checked": true
                    }
                ]
            }
        ];
