-
    const exportPercoFields =
        [

            {
                "title": "Анонс",
                "checked": true
            },
            {
                "title": "Описание, особенности",
                "checked": true
            },
            {
                "title": "Стоимость",
                "checked": true
            },
            {
                "title": "Характеристики",
                "checked": true
            },
            {
                "title": "Фото",
                "checked": true
            },
            {
                "title": "Чертеж",
                "checked": true
            },
            {
                "title": "Документы",
                "checked": true
            },
        ];
