.page-export {
    .wrapper-export-page {
        display: flex;
        flex-direction: row;
    }

    .block-right, 
    .block-left {
        width: 50%;
    }

    .block-left {
        width: 50%;
        margin-right: 40px;
    }

    .message-success {
        display: flex;
        gap: 0 20px;

        &__text {
            color: $text-secondary;
            font-weight: 600;
        }
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-fit-content {
        max-width: fit-content;
    }

    .text-danger {
        color: $color-danger;
    }

    .text-bold {
        font-weight: 600;
    }
}