extends ../layouts/layout

block meta
  title Главная

block consts
  - const bodyClass = "home";

block content
  main
    h1 Главная страница
    p Добро пожаловать на главную страницу нашего сайта
