// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

// @property --gradient-button-fill {
//   syntax: "<color>";
//   inherits: true;
//   initial-value: #ffffff;
// }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $width-btn;
  line-height: inherit;
  min-height: $height-btn;
  max-width: 100%;
  padding: $field-padding-vertical  $field-padding-horizontal;
  color: $text-color;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  background-color: transparent;
  box-shadow: $shadow;

  // todo: убрать important
  border: none !important;
  text-decoration: none !important;

  &--disabled,
  &:disabled {
    color: $text-color;
    cursor: not-allowed;
    background-color: #e6e6e6;
    opacity: 1;

    /* stylelint-disable-next-line at-rule-no-unknown */
    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--primary {
    color: $text-contrast;
    background-color: $color-main;

  &:hover,
  &:focus,
  &:active {
    color: $text-contrast;
    text-decoration: none;
    background-color: $visited-main-color;
    box-shadow: $shadow;
  }

    &--disabled,
    &:disabled {
      color: $text-contrast;
      background-color: $disabled-main-color;
    }
  }

  &--secondary {
    color: $color-brand;
    background-color: $secondary-btn-bg;

    &:hover,
    &:focus,
    &:active {
      color: $color-brand;
      background-color: $visited-main-color;
      box-shadow: $shadow;
    }

    &--disabled,
    &:disabled {
      color: $disabled-main-color;
      background-color: $disabled-secondary-color;
    }
  }

  &--outlined {
    color: #ffffff;
    background-color: $color-main;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color:  $color-main;
      box-shadow: $shadow;
    }

    &--disabled,
    &:disabled {
      color: #ffffff;
      background-color: $color-main;
    }
  }

  &--tertiary {
    color: #ffffff;
    background-color: $color-main;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color:  $color-main;
      box-shadow: $shadow;
    }

    &--disabled,
    &:disabled {
      color: #ffffff;
      background-color: $color-main;
    }
  }
}
