//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../components/blocks/comparison-slider/comparison-slider.pug
include ../components/blocks/form/form.pug
include ../components/blocks/logo/logo.pug
include ../components/blocks/page-footer/page-footer.pug
include ../components/blocks/page-header/page-header.pug
include ../components/blocks/tree-checkboxes/tree-checkboxes.pug
include ../components/ui/accordion/accordion.pug
include ../components/ui/breadcrumbs/breadcrumbs.pug
include ../components/ui/btn/btn.pug
include ../components/ui/field-checkbox/field-checkbox.pug
include ../components/ui/label/label.pug
include ../components/ui/loader/loader.pug
include ../components/ui/main-nav/main-nav.pug
