.tree-checkboxes {
    margin: 0;
    padding: 0;
    list-style: none;

    &__list {
        border: 0;
        margin: 0;
        padding: 12px 0 0;

        .field-checkbox:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__list--wrapper {
        margin-left: 32px;
    }
}
