mixin tree-checkboxes(data, mods)
    //- Принимает:
    //-   data  {array} - JSON данные со структурой товаров
    //-   mods  {string} - список модификаторов
    //- Вызов:
        +tree-checkboxes(data)
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' tree-checkboxes--' + modsList[i].trim();
            }
        }

    .tree-checkboxes(class=allMods)&attributes(attributes)
        - if (data && data.length > 0)
            each item in data
                +field-checkbox([
                    {
                        title: item.title,
                        checked: item.checked || false,
                        attrs: {
                            name: item.title.toLowerCase().replace(/\s+/g, '-'),
                            
                        }
                    },
                ])
                - if (item.children && item.children.length > 0)
                    fieldset.tree-checkboxes__list
                        div.tree-checkboxes__list--wrapper
                            each child in item.children
                                +field-checkbox([
                                    {
                                        title: child.title,
                                        checked: child.checked || false,
                                        attrs: {
                                            name: child.title.toLowerCase().replace(/\s+/g, '-'),
                                        }
                                    },
                                ])
                                - if (child.children && child.children.length > 0)
                                    fieldset.tree-checkboxes__list
                                        div.tree-checkboxes__list--wrapper
                                            each grandchild in child.children
                                                +field-checkbox([
                                                    {
                                                        title: grandchild.title,
                                                        checked: grandchild.checked || false,
                                                        attrs: {
                                                            name: grandchild.title.toLowerCase().replace(/\s+/g, '-'),
                                                        }
                                                    },
                                                ])