.tree-checkboxes {
    margin: 0;
    padding: 0;
    list-style: none;

    &__list {
        border: 0;
        margin: 0;
        padding: 0;
    }

    &__list--wrapper {
        margin-left: 32px;
    }

    .field-checkbox__name {
        margin-bottom: 16px;
    }
}
