extends ./layout/products

block meta
  title Export PERCo

block consts
  - const bodyClass = "export";

block content
  main
    div.container
      h1 Информация для сайтов партнеров

      div#download_zip
        form#getExport(name='Tree' action='ziped_data.php' method='POST')
          div.blocks
            div
              h3
                | Выберите товары:
              +section-list-tree
              fieldset.head
                label.container(style='margin-left:25px')
                  | Турникеты и калитки
                  input(type='checkbox' name='product[]' value='turnikety')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Турникеты-триподы
                    input(type='checkbox' name='product[]' value='turnikety-tripody')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Тумбовые турникеты
                    input(type='checkbox' name='product[]' value='tumbovye-turnikety')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Скоростные проходы
                    input(type='checkbox' name='product[]' value='skorostnye-prokhody')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Полноростовые турникеты и калитки
                    input(type='checkbox' name='product[]' value='polnorostovye-turnikety-i-kalitki')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Калитки
                    input(type='checkbox' name='product[]' value='kalitki')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Дополнительное оборудование для турникетов
                    input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie-dlya-turniketov')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Кронштейны и стойки
                      input(type='checkbox' name='product[]' value='kronshteyny')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Анкеры
                      input(type='checkbox' name='product[]' value='ankery-dlya-turniketov')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Терминалы распознавания лиц
                      input(type='checkbox' name='product[]' value='terminaly-raspoznavaniya-lits-dlya-turniketov')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Блоки питания и АКБ
                      input(type='checkbox' name='product[]' value='bloki-pitaniya-i-akb-dlya-turniketov')
                      span.checkmark
                label.container(style='margin-left:25px')
                  | Ограждения
                  input(type='checkbox' name='product[]' value='ograzhdeniya')
                  span.checkmark
                label.container(style='margin-left:25px')
                  | Электронные проходные
                  input(type='checkbox' name='product[]' value='elektronnye-prokhodnye')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Дополнительное оборудование для электронных проходных
                    input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie-dlya-elektronnykh-prokhodnykh')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Анкеры
                      input(type='checkbox' name='product[]' value='ankery-dlya-elektronnykh-prokhodnykh')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Блоки питания и АКБ
                      input(type='checkbox' name='product[]' value='bloki-pitaniya-i-akb-dlya-elektronnykh-prokhodnykh')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Терминалы распознавания лиц
                      input(type='checkbox' name='product[]' value='terminaly-raspoznavaniya-lits-dlya-elektronnykh-prokhodnykh')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Карты. Брелоки. Метки.
                      input(type='checkbox' name='product[]' value='karty-breloki-metki-dlya-elektronnykh-prokhodnykh')
                      span.checkmark
                label.container(style='margin-left:25px')
                  | Шлагбаумы
                  input(type='checkbox' name='product[]' value='shlagbaum')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Дополнительное оборудование для шлагбаумов
                    input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie-dlya-shlagbaumov')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Анкеры для шлагбаумов
                      input(type='checkbox' name='product[]' value='ankery-dlya-shlagbaumov')
                      span.checkmark
                label.container(style='margin-left:25px')
                  | Комплекты ПО
                  input(type='checkbox' name='product[]' value='komplekty-po')
                  span.checkmark
                label.container(style='margin-left:25px')
                  | Электромеханические замки
                  input(type='checkbox' name='product[]' value='elektromekhanicheskie-zamki')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Дополнительное оборудование для замков
                    input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie-dlya-zamkov')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Блоки питания и АКБ
                      input(type='checkbox' name='product[]' value='bloki-pitaniya-i-akb-dlya-zamkov')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Дверные ручки и фурнитура к электромеханическим замкам
                      input(type='checkbox' name='product[]' value='dvernye-ruchki-i-furnitura-k-elektromekhanicheskim-zamkam')
                      span.checkmark
                label.container(style='margin-left:25px')
                  | Контроллеры и считыватели
                  input(type='checkbox' name='product[]' value='kontrollery-schityvateli')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Контроллеры
                    input(type='checkbox' name='product[]' value='kontrollery')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Считыватели
                    input(type='checkbox' name='product[]' value='schityvateli')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Терминалы учета рабочего времени
                    input(type='checkbox' name='product[]' value='terminaly-ucheta-rabochego-vremeni')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Биометрические контроллеры и считыватели
                    input(type='checkbox' name='product[]' value='biometricheskie-kontrollery-i-schityvateli')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Стойки-считыватели
                    input(type='checkbox' name='product[]' value='stoyki-schityvateli')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Дополнительное оборудование для контроллеров и считывателей
                    input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Блоки питания и АКБ
                      input(type='checkbox' name='product[]' value='bloki-pitaniya-i-akb-dlya-skud')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Карты. Брелоки. Метки.
                      input(type='checkbox' name='product[]' value='karty-breloki-metki-dlya-skud')
                      span.checkmark
                label.container(style='margin-left:25px')
                  | Турникеты платного доступа
                  input(type='checkbox' name='product[]' value='sistemy-platnogo-dostupa')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Дополнительное оборудование для турникетов платного доступа
                    input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie-dlya-turniketov-platnogo-dostupa')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Блоки питания и АКБ
                      input(type='checkbox' name='product[]' value='bloki-pitaniya-i-akb-dlya-turniketov-platnogo-dostupa')
                      span.checkmark
                    label.container(style='margin-left:75px')
                      | Анкеры
                      input(type='checkbox' name='product[]' value='ankery-dlya-turniketov-platnogo-dostupa')
                      span.checkmark
                label.container(style='margin-left:25px')
                  | Система контроля доступа PERCo-Web
                  input(type='checkbox' name='product[]' value='sistema-kontrolya-dostupa-perco-web')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | ПО системы контроля доступа PERCo-Web
                    input(type='checkbox' name='product[]' value='po-sistemy-kontrolya-dostupa-perco-web')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Возможности ПО системы контроля доступа PERCo-Web
                    input(type='checkbox' name='product[]' value='vozmozhnosti-perco-web')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Рекомендации по внедрению СКУД PERCo-Web
                    input(type='checkbox' name='product[]' value='vnedrenie-perco-web')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Система контроля доступа PERCo-Web2
                    input(type='checkbox' name='product[]' value='sistema-kontrolya-dostupa-perco-web2')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Структура системы контроля доступа PERCo-Web
                    input(type='checkbox' name='product[]' value='struktura-perco-web')
                    span.checkmark
                label.container(style='margin-left:25px')
                  | Парковочная система PERCo.Паркинг
                  input(type='checkbox' name='product[]' value='parkovochnaya-sistema')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Программное обеспечение PERCo.Паркинг
                    input(type='checkbox' name='product[]' value='parking-po')
                    span.checkmark
                  label.container(style='margin-left:50px')
                    | Оборудование парковочной системы
                    input(type='checkbox' name='product[]' value='oborudovanie-parkovochnoy-sistemy')
                    span.checkmark
                  fieldset
                    label.container(style='margin-left:75px')
                      | Дополнительное оборудование для парковочной системы
                      input(type='checkbox' name='product[]' value='dopolnitelnoe-oborudovanie-dlya-parkovochnoy-sistemy')
                      span.checkmark
                    fieldset
                      label.container(style='margin-left:100px')
                        | Шлагбаумы
                        input(type='checkbox' name='product[]' value='shlagbaumy-pp')
                        span.checkmark
                label.container(style='margin-left:25px')
                  | Система PERCo-S-20 Школа
                  input(type='checkbox' name='product[]' value='sistema-bezopasnosti-perco-s-20-shkola')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | ПО системы безопасности для школ PERCo-S-20 Школа
                    input(type='checkbox' name='product[]' value='po-sistemy-bezopasnosti-dlya-shkol-perco-s-20-shkola')
                    span.checkmark
                label.container(style='margin-left:25px')
                  | Система PERCo.Школа
                  input(type='checkbox' name='product[]' value='sistema-perco-shkola')
                  span.checkmark
                fieldset
                  label.container(style='margin-left:50px')
                    | Программное обеспечение PERCo.Школа
                    input(type='checkbox' name='product[]' value='programmnoe-obespechenie-perco-shkola')
                    span.checkmark
                label.container(style='margin-left:25px')
                  | Мобильные приложения
                  input(type='checkbox' name='product[]' value='mobilnye-prilozheniya')
                  span.checkmark
            div
              h3
                | Выберите нужные поля:
              label.container
                | Анонс
                input(type='checkbox' name='fields[]' value='anouns' checked='checked')
                span.checkmark
              label.container
                | Описание, особенности
                input(type='checkbox' name='fields[]' value='description')
                span.checkmark
              label.container
                | Стоимость
                input(type='checkbox' name='fields[]' value='cost')
                span.checkmark
              label.container
                | Характеристики
                input(type='checkbox' name='fields[]' value='characteristics')
                span.checkmark
              label.container
                | Фото
                input(type='checkbox' name='fields[]' value='photo')
                span.checkmark
              label.container
                | Чертеж
                input(type='checkbox' name='fields[]' value='sheme')
                span.checkmark
              label.container
                | Документы
                input(type='checkbox' name='fields[]' value='docs')
                span.checkmark
              div.xls-check
                label.container
                  | Нужен xls файл для MS Excel
                  input(type='checkbox' name='excel' value='true')
                  span.checkmark
              div.act
                input(type='submit' value='Собрать данные')
                div#loader-text(style='display: none;')
                  | Пожалуйста, подождите. Сбор данных может занять какое-то время.
                div#loader(style='display: none;')

                div#loader-error
                  | Выберите хотя бы один товар для выгрузки!


