extends ./layout/products

block meta
  title Export PERCo

block consts
  - const bodyClass = "export";

block content
  main
    div.container
      h1.mb-32.font-size-lg Информация для сайтов партнеров

      div#download_zip
        form#getExport(name='Tree' action='ziped_data.php' method='POST')
          div.blocks
            div
              h3
                | Выберите товары:
              +tree-checkboxes



