extends ./layout/products

block meta
  title Каталог PERCo — оборудование и системы контроля доступа

block consts
  - const bodyClass = "trw";

block content
  main
    h1 Каталог - PERCo
    p Здесь вы можете найти различные модели оборудования и систем контроля доступа.
