mixin section-list-tree()
    //- Принимает:
    //-   mods  {string} - список модификаторов
    //- Вызов:
        +section-list-tree()
    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' page-footer--' + modsList[i].trim();
            }
        }

    .section-list-tree(class=allMods)&attributes(attributes)
        +field-checkbox([
            {
                title: 'Турникеты и калитки',
                attrs: {
                name: 'turnikety',
                }
            },
        ])

        fieldset.section-list-tree--children
            +field-checkbox([
                {
                    title: 'Турникеты-триподы',
                    attrs: {
                    name: 'turnikety-tripody',
                    }
                },
            ])
            +field-checkbox([
                {
                    title: 'Тумбовые турникеты',
                    attrs: {
                    name: 'tumbovye-turnikety',
                    }
                },
            ])
            +field-checkbox([
                {
                    title: 'Скоростные проходы',
                    attrs: {
                    name: 'skorostnye-prokhody',
                    }
                },
            ])